<div class="row well">
  <div class="col-sm-6">
    <h2>Resumes</h2>
    <% if (resumes.length > 0) { %>
      <ul>
        <% resumes.forEach(function(resume) { %>
          <li>
            <a href="/user/resume/<%= resume.id %>">
              <%= resume.name %>
            </a>
            <a href="/user/resume/<%= resume.id %>" 
               data-method="delete">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      NO RESUMES
    <% } %>
    <form action="/user/resume" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="resume" id="resume"  class="filestyle" data-input="false" data-buttonText="Find resume">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
  <div class="col-sm-6">
    <h2>Cover Letters</h2>
    <% if (coverLetters.length > 0) { %>
      <ul>
        <% coverLetters.forEach(function(coverLetter) { %>
          <li>
            <a href="/user/coverletter/<%= coverLetter.id %>">
              <%= coverLetter.name %>
            </a>
            <a href="/user/coverletter/<%= coverLetter.id %>" 
               data-method="delete">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      NO COVER LETTERS
    <% } %>
    <form action="/user/coverletter" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="coverLetter" id="coverLetter" class="filestyle" data-input="false" data-buttonText="Find cover letter">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>