<div class="row well">
  <h2>Profile</h2>
  <hr />
  <div class="col-sm-4">
    <img src="/images/myPic.jpg" onerror="if (this.src != 'error.jpg') this.src = '/images/nobody.jpg';" height= "150" >
    <form action="/user/profilePic" method="POST" enctype="multipart/form-data">
        <div class="form-group">
        <input type="file" name="profilePic" id="profilePic"  class="filestyle" data-input="false" data-buttonText="Find picture">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
  <div class="col-sm-8">
  <h3>Addresss:</h3>
  <% if(user.address) { %>
    <p id="userAddress"><%= user.address %></p>
  <% } %>
    <form action="/user/update" method="POST">
      <div class="form-group">
        <label for="address">Update Address:</label>
        <textarea name="address" id="address" rows="5" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="updateAddress">Update Address</button>
    </form>
  </div>
</div>
<div class="row well">
  <div class="col-sm-12">
    <h2>Resumes</h2>
    <hr />
    <% if (resumes.length > 0) { %>
      <% resumes.forEach(function(resume) { %>
        <% if(resume.default) { %>
          <h4>Default:</h4>
          <p><%= resume.name %></p>
        <% } %>
      <% }) %>
      <table class="table table-striped dt-responsive nowrap">
        <thead>
          <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% resumes.forEach(function(resume) { %>
            <tr>
              <td><%= resume.name %></td>
              <td><%= resume.notes || "No notes" %></td>
              <td>
                <a href="/user/resume/<%= resume.id %>" class="btn btn-danger" data-method="delete">
                  Delete
                </a>
                  <a href="/user/resume/<%= resume.id %>" class="btn btn-primary" data-method="put"<%= resume.default ? "disabled" : "" %>>
                    Mark as Default
                  </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>No resumes uploaded.</p>
    <% } %>
    <form action="/user/resume" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="resume" id="resume"  class="filestyle" data-input="false" data-buttonText="Find resume">
      </div>
      <div class="form-group">
        <label for="resumeNotes">Notes:</label>
        <textarea name="resumeNotes" id="resumeNotes" rows="5" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
  <div class="col-sm-12">
    <h2>Cover Letters</h2>
    <hr />
    <% if (coverLetters.length > 0) { %>
      <% coverLetters.forEach(function(coverLetter) { %>
        <% if(coverLetter.default) { %>
          <h4>Default:</h4>
          <p><%= coverLetter.name %></p>
        <% } %>
      <% }) %>
      <table class="table table-striped dt-responsive nowrap">
        <thead>
          <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% coverLetters.forEach(function(coverLetter) { %>
            <tr>
              <td><%= coverLetter.name %></td>
              <td><%= coverLetter.notes || "No notes" %></td>
              <td>
                <a href="/user/coverletter/<%= coverLetter.id %>" class="btn btn-danger" data-method="delete">
                  Delete
                </a>
                  <a href="/user/coverletter/<%= coverLetter.id %>" class="btn btn-primary" data-method="put"<%= coverLetter.default ? "disabled" : "" %>>
                    Mark as Default
                  </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>No cover letters uploaded.</p>
    <% } %>
      <form action="/user/coverletter" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="coverLetter" id="coverLetter" class="filestyle" data-input="false" data-buttonText="Find cover letter">
      </div>
      <div class="form-group">
        <label for="letterNotes">Notes:</label>
        <textarea name="letterNotes" id="letterNotes" rows="5" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>
