<div class="row well">
  <div class="col-sm-6">
    <h2>Resumes</h2>
    <hr />
    <% if (resumes.length > 0) { %>
      <ul class="list-group">
        <% resumes.forEach(function(resume) { %>
          <li class="list-group-item">
            <a href="/user/resume/<%= resume.id %>">
              <%= resume.name %>
            </a>
            <a href="/user/resume/<%= resume.id %>" 
               data-method="delete" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No resumes uploaded.</p>
    <% } %>
    <form action="/user/resume" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="resume" id="resume"  class="filestyle" data-input="false" data-buttonText="Find resume">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
  <div class="col-sm-6">
    <h2>Cover Letters</h2>
    <hr />
    <% if (coverLetters.length > 0) { %>
      <ul class="list-group">
        <% coverLetters.forEach(function(coverLetter) { %>
          <li class="list-group-item">
            <a href="/user/coverletter/<%= coverLetter.id %>">
              <%= coverLetter.name %>
            </a>
            <a href="/user/coverletter/<%= coverLetter.id %>" 
               data-method="delete" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No cover letters uploaded.</p>
    <% } %>
      <form action="/user/coverletter" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="coverLetter" id="coverLetter" class="filestyle" data-input="false" data-buttonText="Find cover letter">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</div>
<div class="col-sm-6">
  <h2>Profile Picture</h2>
  <hr />
  <form action="/user/profilePic" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="profilePic" id="profilePic"  class="filestyle" data-input="false" data-buttonText="Find picture">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
<img src="/images/myPic.jpg" onerror="if (this.src != 'error.jpg') this.src = '/images/nobody.jpg';" height= "150" >